.container {
  width: 90%;
  margin: 0 auto;

  .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }

  .score {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
  };
}